.git
.github
.idea
.mypy_cache
.pytest_cache
.ruff_cache
.venv
__pycache__
*.pyc

.env
.env.specing
data
persistentData.json
products.json
GeoLite2-City.mmdb
GeoLite2-ASN.mmdb
specs/v2/fixtures/api/raw

*.csv
*.xlsx
